max_wind.png                    file:///home/panorama/public_html/casa-data/max_wind.png                    site="condorpool"
pointAlert_config.txt           file:///home/panorama/public_html/casa-data/pointAlert_config.txt           site="condorpool"
hospital_locations.geojson      file:///home/panorama/public_html/casa-data/hospital_locations_sc.geojson      site="condorpool"
#hospital_locations.geojson      file:///home/panorama/public_html/casa-data/hospital_locations.geojson      site="condorpool"
midlothian.tx-20180606-070051.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-070051.netcdf.gz    site="condorpool"
arlington.tx-20180606-070102.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-070102.netcdf.gz    site="condorpool"
midlothian.tx-20180606-070113.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-070113.netcdf.gz    site="condorpool"
arlington.tx-20180606-070022.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-070022.netcdf.gz    site="condorpool"
midlothian.tx-20180606-070027.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-070027.netcdf.gz    site="condorpool"
arlington.tx-20180606-070002.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-070002.netcdf.gz    site="condorpool"
midlothian.tx-20180606-070004.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-070004.netcdf.gz    site="condorpool"
arlington.tx-20180606-070042.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-070042.netcdf.gz    site="condorpool"
arlington.tx-20180606-070142.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-070142.netcdf.gz    site="condorpool"
arlington.tx-20180606-070202.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-070202.netcdf.gz    site="condorpool"
midlothian.tx-20180606-070213.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-070213.netcdf.gz    site="condorpool"
midlothian.tx-20180606-070150.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-070150.netcdf.gz    site="condorpool"
arlington.tx-20180606-070122.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-070122.netcdf.gz    site="condorpool"
midlothian.tx-20180606-070132.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-070132.netcdf.gz    site="condorpool"
arlington.tx-20180606-070222.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-070222.netcdf.gz    site="condorpool"
midlothian.tx-20180606-070327.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-070327.netcdf.gz    site="condorpool"
arlington.tx-20180606-070322.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-070322.netcdf.gz    site="condorpool"
midlothian.tx-20180606-070231.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-070231.netcdf.gz    site="condorpool"
midlothian.tx-20180606-070250.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-070250.netcdf.gz    site="condorpool"
arlington.tx-20180606-070302.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-070302.netcdf.gz    site="condorpool"
midlothian.tx-20180606-070308.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-070308.netcdf.gz    site="condorpool"
arlington.tx-20180606-070342.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-070342.netcdf.gz    site="condorpool"
arlington.tx-20180606-070242.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-070242.netcdf.gz    site="condorpool"
midlothian.tx-20180606-070450.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-070450.netcdf.gz    site="condorpool"
midlothian.tx-20180606-070427.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-070427.netcdf.gz    site="condorpool"
arlington.tx-20180606-070442.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-070442.netcdf.gz    site="condorpool"
midlothian.tx-20180606-070346.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-070346.netcdf.gz    site="condorpool"
arlington.tx-20180606-070402.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-070402.netcdf.gz    site="condorpool"
midlothian.tx-20180606-070404.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-070404.netcdf.gz    site="condorpool"
arlington.tx-20180606-070422.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-070422.netcdf.gz    site="condorpool"
midlothian.tx-20180606-070531.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-070531.netcdf.gz    site="condorpool"
arlington.tx-20180606-070542.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-070542.netcdf.gz    site="condorpool"
arlington.tx-20180606-070522.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-070522.netcdf.gz    site="condorpool"
midlothian.tx-20180606-070608.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-070608.netcdf.gz    site="condorpool"
midlothian.tx-20180606-070513.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-070513.netcdf.gz    site="condorpool"
arlington.tx-20180606-070502.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-070502.netcdf.gz    site="condorpool"
midlothian.tx-20180606-070550.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-070550.netcdf.gz    site="condorpool"
arlington.tx-20180606-070603.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-070603.netcdf.gz    site="condorpool"
midlothian.tx-20180606-070704.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-070704.netcdf.gz    site="condorpool"
arlington.tx-20180606-070622.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-070622.netcdf.gz    site="condorpool"
arlington.tx-20180606-070703.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-070703.netcdf.gz    site="condorpool"
arlington.tx-20180606-070643.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-070643.netcdf.gz    site="condorpool"
midlothian.tx-20180606-070646.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-070646.netcdf.gz    site="condorpool"
midlothian.tx-20180606-070627.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-070627.netcdf.gz    site="condorpool"
arlington.tx-20180606-070723.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-070723.netcdf.gz    site="condorpool"
midlothian.tx-20180606-070723.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-070723.netcdf.gz    site="condorpool"
arlington.tx-20180606-070743.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-070743.netcdf.gz    site="condorpool"
arlington.tx-20180606-070803.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-070803.netcdf.gz    site="condorpool"
midlothian.tx-20180606-070837.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-070837.netcdf.gz    site="condorpool"
midlothian.tx-20180606-070818.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-070818.netcdf.gz    site="condorpool"
midlothian.tx-20180606-070741.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-070741.netcdf.gz    site="condorpool"
arlington.tx-20180606-070823.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-070823.netcdf.gz    site="condorpool"
midlothian.tx-20180606-070800.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-070800.netcdf.gz    site="condorpool"
arlington.tx-20180606-070843.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-070843.netcdf.gz    site="condorpool"
arlington.tx-20180606-070903.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-070903.netcdf.gz    site="condorpool"
arlington.tx-20180606-070943.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-070943.netcdf.gz    site="condorpool"
midlothian.tx-20180606-070918.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-070918.netcdf.gz    site="condorpool"
midlothian.tx-20180606-070955.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-070955.netcdf.gz    site="condorpool"
midlothian.tx-20180606-070936.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-070936.netcdf.gz    site="condorpool"
midlothian.tx-20180606-070859.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-070859.netcdf.gz    site="condorpool"
arlington.tx-20180606-070923.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-070923.netcdf.gz    site="condorpool"
arlington.tx-20180606-071103.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-071103.netcdf.gz    site="condorpool"
midlothian.tx-20180606-071013.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-071013.netcdf.gz    site="condorpool"
midlothian.tx-20180606-071109.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-071109.netcdf.gz    site="condorpool"
arlington.tx-20180606-071003.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-071003.netcdf.gz    site="condorpool"
arlington.tx-20180606-071043.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-071043.netcdf.gz    site="condorpool"
midlothian.tx-20180606-071032.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-071032.netcdf.gz    site="condorpool"
arlington.tx-20180606-071023.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-071023.netcdf.gz    site="condorpool"
midlothian.tx-20180606-071050.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-071050.netcdf.gz    site="condorpool"
arlington.tx-20180606-071203.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-071203.netcdf.gz    site="condorpool"
midlothian.tx-20180606-071133.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-071133.netcdf.gz    site="condorpool"
midlothian.tx-20180606-071218.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-071218.netcdf.gz    site="condorpool"
arlington.tx-20180606-071143.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-071143.netcdf.gz    site="condorpool"
midlothian.tx-20180606-071155.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-071155.netcdf.gz    site="condorpool"
arlington.tx-20180606-071223.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-071223.netcdf.gz    site="condorpool"
arlington.tx-20180606-071123.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-071123.netcdf.gz    site="condorpool"
midlothian.tx-20180606-071255.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-071255.netcdf.gz    site="condorpool"
arlington.tx-20180606-071303.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-071303.netcdf.gz    site="condorpool"
arlington.tx-20180606-071243.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-071243.netcdf.gz    site="condorpool"
arlington.tx-20180606-071323.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-071323.netcdf.gz    site="condorpool"
midlothian.tx-20180606-071317.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-071317.netcdf.gz    site="condorpool"
midlothian.tx-20180606-071336.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-071336.netcdf.gz    site="condorpool"
midlothian.tx-20180606-071236.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-071236.netcdf.gz    site="condorpool"
midlothian.tx-20180606-071354.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-071354.netcdf.gz    site="condorpool"
arlington.tx-20180606-071443.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-071443.netcdf.gz    site="condorpool"
arlington.tx-20180606-071403.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-071403.netcdf.gz    site="condorpool"
midlothian.tx-20180606-071417.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-071417.netcdf.gz    site="condorpool"
midlothian.tx-20180606-071440.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-071440.netcdf.gz    site="condorpool"
arlington.tx-20180606-071423.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-071423.netcdf.gz    site="condorpool"
arlington.tx-20180606-071343.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-071343.netcdf.gz    site="condorpool"
midlothian.tx-20180606-071554.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-071554.netcdf.gz    site="condorpool"
arlington.tx-20180606-071603.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-071603.netcdf.gz    site="condorpool"
midlothian.tx-20180606-071535.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-071535.netcdf.gz    site="condorpool"
arlington.tx-20180606-071543.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-071543.netcdf.gz    site="condorpool"
arlington.tx-20180606-071523.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-071523.netcdf.gz    site="condorpool"
midlothian.tx-20180606-071458.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-071458.netcdf.gz    site="condorpool"
midlothian.tx-20180606-071517.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-071517.netcdf.gz    site="condorpool"
arlington.tx-20180606-071503.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-071503.netcdf.gz    site="condorpool"
midlothian.tx-20180606-071719.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-071719.netcdf.gz    site="condorpool"
midlothian.tx-20180606-071654.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-071654.netcdf.gz    site="condorpool"
midlothian.tx-20180606-071636.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-071636.netcdf.gz    site="condorpool"
midlothian.tx-20180606-071612.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-071612.netcdf.gz    site="condorpool"
arlington.tx-20180606-071703.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-071703.netcdf.gz    site="condorpool"
arlington.tx-20180606-071623.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-071623.netcdf.gz    site="condorpool"
arlington.tx-20180606-071643.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-071643.netcdf.gz    site="condorpool"
arlington.tx-20180606-071823.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-071823.netcdf.gz    site="condorpool"
midlothian.tx-20180606-071815.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-071815.netcdf.gz    site="condorpool"
midlothian.tx-20180606-071756.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-071756.netcdf.gz    site="condorpool"
arlington.tx-20180606-071803.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-071803.netcdf.gz    site="condorpool"
arlington.tx-20180606-071723.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-071723.netcdf.gz    site="condorpool"
arlington.tx-20180606-071743.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-071743.netcdf.gz    site="condorpool"
midlothian.tx-20180606-071738.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-071738.netcdf.gz    site="condorpool"
arlington.tx-20180606-071923.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-071923.netcdf.gz    site="condorpool"
midlothian.tx-20180606-071857.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-071857.netcdf.gz    site="condorpool"
midlothian.tx-20180606-071838.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-071838.netcdf.gz    site="condorpool"
arlington.tx-20180606-071903.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-071903.netcdf.gz    site="condorpool"
midlothian.tx-20180606-071915.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-071915.netcdf.gz    site="condorpool"
arlington.tx-20180606-071943.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-071943.netcdf.gz    site="condorpool"
midlothian.tx-20180606-071934.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-071934.netcdf.gz    site="condorpool"
arlington.tx-20180606-071843.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-071843.netcdf.gz    site="condorpool"
midlothian.tx-20180606-072029.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-072029.netcdf.gz    site="condorpool"
midlothian.tx-20180606-072048.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-072048.netcdf.gz    site="condorpool"
arlington.tx-20180606-072103.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-072103.netcdf.gz    site="condorpool"
arlington.tx-20180606-072043.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-072043.netcdf.gz    site="condorpool"
arlington.tx-20180606-072023.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-072023.netcdf.gz    site="condorpool"
midlothian.tx-20180606-071952.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-071952.netcdf.gz    site="condorpool"
arlington.tx-20180606-072003.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-072003.netcdf.gz    site="condorpool"
midlothian.tx-20180606-072011.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-072011.netcdf.gz    site="condorpool"
arlington.tx-20180606-072143.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-072143.netcdf.gz    site="condorpool"
midlothian.tx-20180606-072146.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-072146.netcdf.gz    site="condorpool"
arlington.tx-20180606-072203.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-072203.netcdf.gz    site="condorpool"
arlington.tx-20180606-072123.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-072123.netcdf.gz    site="condorpool"
midlothian.tx-20180606-072125.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-072125.netcdf.gz    site="condorpool"
midlothian.tx-20180606-072209.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-072209.netcdf.gz    site="condorpool"
midlothian.tx-20180606-072106.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-072106.netcdf.gz    site="condorpool"
midlothian.tx-20180606-072228.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-072228.netcdf.gz    site="condorpool"
midlothian.tx-20180606-072246.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-072246.netcdf.gz    site="condorpool"
midlothian.tx-20180606-072306.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-072306.netcdf.gz    site="condorpool"
midlothian.tx-20180606-072325.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-072325.netcdf.gz    site="condorpool"
arlington.tx-20180606-072323.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-072323.netcdf.gz    site="condorpool"
arlington.tx-20180606-072223.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-072223.netcdf.gz    site="condorpool"
arlington.tx-20180606-072243.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-072243.netcdf.gz    site="condorpool"
arlington.tx-20180606-072303.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-072303.netcdf.gz    site="condorpool"
midlothian.tx-20180606-072431.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-072431.netcdf.gz    site="condorpool"
arlington.tx-20180606-072403.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-072403.netcdf.gz    site="condorpool"
midlothian.tx-20180606-072454.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-072454.netcdf.gz    site="condorpool"
arlington.tx-20180606-072503.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-072503.netcdf.gz    site="condorpool"
arlington.tx-20180606-072443.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-072443.netcdf.gz    site="condorpool"
arlington.tx-20180606-072423.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-072423.netcdf.gz    site="condorpool"
arlington.tx-20180606-072343.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-072343.netcdf.gz    site="condorpool"
midlothian.tx-20180606-072408.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-072408.netcdf.gz    site="condorpool"
midlothian.tx-20180606-072345.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-072345.netcdf.gz    site="condorpool"
midlothian.tx-20180606-072549.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-072549.netcdf.gz    site="condorpool"
arlington.tx-20180606-072603.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-072603.netcdf.gz    site="condorpool"
arlington.tx-20180606-072543.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-072543.netcdf.gz    site="condorpool"
midlothian.tx-20180606-072531.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-072531.netcdf.gz    site="condorpool"
arlington.tx-20180606-072523.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-072523.netcdf.gz    site="condorpool"
midlothian.tx-20180606-072512.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-072512.netcdf.gz    site="condorpool"
midlothian.tx-20180606-072608.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-072608.netcdf.gz    site="condorpool"
arlington.tx-20180606-072703.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-072703.netcdf.gz    site="condorpool"
midlothian.tx-20180606-072712.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-072712.netcdf.gz    site="condorpool"
midlothian.tx-20180606-072631.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-072631.netcdf.gz    site="condorpool"
arlington.tx-20180606-072623.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-072623.netcdf.gz    site="condorpool"
midlothian.tx-20180606-072649.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-072649.netcdf.gz    site="condorpool"
midlothian.tx-20180606-072731.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-072731.netcdf.gz    site="condorpool"
arlington.tx-20180606-072723.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-072723.netcdf.gz    site="condorpool"
arlington.tx-20180606-072643.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-072643.netcdf.gz    site="condorpool"
arlington.tx-20180606-072743.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-072743.netcdf.gz    site="condorpool"
arlington.tx-20180606-072803.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-072803.netcdf.gz    site="condorpool"
midlothian.tx-20180606-072830.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-072830.netcdf.gz    site="condorpool"
midlothian.tx-20180606-072753.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-072753.netcdf.gz    site="condorpool"
midlothian.tx-20180606-072811.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-072811.netcdf.gz    site="condorpool"
arlington.tx-20180606-072843.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-072843.netcdf.gz    site="condorpool"
arlington.tx-20180606-072823.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-072823.netcdf.gz    site="condorpool"
midlothian.tx-20180606-072930.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-072930.netcdf.gz    site="condorpool"
midlothian.tx-20180606-072912.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-072912.netcdf.gz    site="condorpool"
arlington.tx-20180606-072943.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-072943.netcdf.gz    site="condorpool"
arlington.tx-20180606-072903.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-072903.netcdf.gz    site="condorpool"
midlothian.tx-20180606-072949.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-072949.netcdf.gz    site="condorpool"
arlington.tx-20180606-072923.netcdf.gz    file:///home/panorama/public_html/casa-data/arlington.tx-20180606-072923.netcdf.gz    site="condorpool"
midlothian.tx-20180606-072853.netcdf.gz    file:///home/panorama/public_html/casa-data/midlothian.tx-20180606-072853.netcdf.gz    site="condorpool"
